/* Indentação */

#biblia .indent1 {
    padding-left: 20px !important;
}

#biblia .indent2 {
    padding-left: 40px !important;
}

#biblia .indent3 {
    padding-left: 60px !important;
}

#biblia tfoot {
    font-size: .8em;
}
