#biblia .capitulo {
    float: left;
    font-size: 2em;
    font-weight: bold;
    margin-right: 0.2em;
}

#biblia .versiculo {
    display: block;
}

#biblia #livro .capitulos {
    text-align: center;
}

#biblia #livro .capitulos a {
    background-color: #36c;
    border-radius: 0.5em;
    color: #fff;
    font-size: 0.8em;
    padding: 0.2em 0.5em;
}

#biblia .titulo {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}

#biblia tfoot {
    font-size: .8em;
}

#biblia .indent1 {
    padding-left: 20px !important;
}

#biblia .indent2 {
    padding-left: 40px !important;
}

#biblia .indent3 {
    padding-left: 60px !important;
}

#biblia .nome {
    font-size: 20px;
    font-weight: bold;
}

#biblia .selecionado {
    background-color: #ccf;
}
