/* Geral */

thead th {
    text-align: center;
}

#doccat {
    padding-top: var(--bs-gutter-x,.75rem);
}

/* Catecismo - Geral */

#catecismo #detalhes {
    display: none;
}

#catecismo a {
    cursor: pointer;
}

#catecismo a:hover {
    color: #006;
    text-decoration: underline;
}

#catecismo .citacao {
    font-size: 14px;
    padding-left: 20px;
}

#catecismo .paragrafo {
    text-align: right;
}

#catecismo .paragrafos {
    text-align: center;
}

#catecismo .nota {
    border-top: 1px solid #999;
}

#catecismo .numero {
    font-weight: bold;
}

#catecismo .texto {
    font-size: 16px;
}

#catecismo .titulo1,
#catecismo .titulo2,
#catecismo .titulo3,
#catecismo .titulo4,
#catecismo .titulo5,
#catecismo .titulo6 {
    font-size: 20px;
    font-weight: bold;
}

/* Catecismo - Indentação */

#catecismo .indent1 {
    padding-left: 20px !important;
}

#catecismo .indent2 {
    padding-left: 40px !important;
}

#catecismo .indent3 {
    padding-left: 60px !important;
}

#catecismo .indent4 {
    padding-left: 80px !important;
}

#catecismo .indent5 {
    padding-left: 100px !important;
}

/*
#catecismo .indent6 {
    padding-left: 120px !important;
}
*/

#catecismo .referencia {
    font-style: italic;
}

/* Tribos de Israel - Geral */

#tribosDeIsrael {
    font-size: .8em;
}

#tribosDeIsrael tbody th {
    background-color: #eee;
}

#tribosDeIsrael tbody td .ordem {
    background-color: #60c;
    border-radius: 0.25rem;
    color: #fff;
    font-size: .75em;
    font-weight: bold;
    padding: 0.25rem;
    margin-right: 0.25rem;
}

#tribosDeIsrael tbody th .pericope {
    background-color: #06c;
}

#tribosDeIsrael tfoot {
    background-color: #eee;
}

#tribosDeIsrael thead th {
    background-color: #eee;
    text-align: center;
    vertical-align: middle;
}

/* Tribos de Israel - Mães */
#tribosDeIsrael .bala {
    background-color: #cfc !important;
}

#tribosDeIsrael .lia {
    background-color: #f99 !important;
}

#tribosDeIsrael .raquel {
    background-color: #9f9 !important;
}

#tribosDeIsrael .zelfa {
    background-color: #fcc !important;
}

/* Tribos de Israel - Posição */
#tribosDeIsrael .leste {
    background-color: #ffc !important;
}

#tribosDeIsrael .sul {
    background-color: #fcc !important;
}

#tribosDeIsrael .meio {
    background-color: #ccc !important;
}

#tribosDeIsrael .oeste {
    background-color: #ccf !important;
}

#tribosDeIsrael .norte {
    background-color: #cff !important;
}
