#doccat a {
    color: #009;
    cursor: pointer;
    text-decoration: none;
}

#doccat a:hover {
    color: #006;
    text-decoration: underline;
}

#anotacoes_editor {
    background-color: #ddd;
}

#anotacoes_editor label {
    font-style: italic;
    font-weight: bold;
    width: 100%;
}

#anotacoes_editor label a img {
    height: 20px;
    margin-left: 5px;
}

#anotacoes_id {
    color: #ccc;
    float: right;
    font-size: .5rem;
    font-weight: normal;
    margin-right: .5em;
}

#anotacoes_preview {
    background-color: #ddd;
}

#anotacoes .btn-toolbar {
    background-color: #eee;
}

#anotacoes .btn-toolbar button {
    width: 2.5em;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ccc;
    text-decoration: underline;
}


thead th {
    text-align: center;
}

#template_anotacoesPreview {
    display: none;
}
