#anotacoes_editor {
    background-color: #ddd;
}

#anotacoes_editor label {
    font-style: italic;
    font-weight: bold;
}

#anotacoes_preview {
    background-color: #ddd;
}

#doccat a {
    color: #009;
    cursor: pointer;
    text-decoration: none;
}

#doccat a:hover {
    color: #006;
    text-decoration: underline;
}

.btn-toolbar button {
    background-color: #eee;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ccc;
    text-decoration: underline;
}


thead th {
    text-align: center;
}

#template_anotacoesPreview {
    display: none;
}
