#documentoNome {
    font-weight: 500;
    font-size: 2.5rem;
}

#documentoAutor {
    color: #666;
}

#documentoData {
    color: #ccc;
}

#documentoTipo {
    color: #999;
}

#estrutura.tresColunas {
    font-size: 12px;
}

#referencia {
    background-color: #ddd;
}

#referencia label {
    font-style: italic;
    font-weight: bold;
}

td.data {
    text-align: center;
}

.navegador {
    margin-bottom: 1em;
    text-align: center;
}

.navegador a {
    background-color: #36c;
    border-radius: 0.5em;
    color: #fff !important;
    font-size: 0.8em;
    margin: 1em;
    padding: 0.2em 0.5em;
}

.notas {
    border-top: 1px solid #999;
}

.numero {
    font-weight: bold;
}

.paragrafos {
    text-align: center;
}

.paragrafos a {
    background-color: #36c;
    border-radius: 0.5em;
    color: #fff !important;
    font-size: 0.8em;
    padding: 0.2em 0.5em;
}

.selecionado {
    background-color: #ccf;
}

/* Tipos de documento */

.tipodocumento-cartaapostolica {
    background-color: #a09600;
}

.tipodocumento-cartaenciclica {
    background-color: #985006;
}

.tipodocumento-constituicaoapostolica {
    background-color: #94070a;
}

.tipodocumento-constituicaoconciliar {
    background-color: #680059;
}

.tipodocumento-constituicaodogmatica {
    background-color: #0d1f63;
}

.tipodocumento-constituicaopastoral {
    background-color: #006d6f;
}

.tipodocumento-exortacaoapostolica {
    background-color: #407927;
}

/* Títulos */

.titulo1 {
    font-size: 20px;
    font-weight: bold;
}

/*

.citacao {
    font-size: 14px;
    padding-left: 20px;
}

*/
