#documento #anotacoes {
    background-color: #ddd;
}

#documento #anotacoes label {
    font-style: italic;
    font-weight: bold;
}

#documento #documentoNome {
    font-weight: 500;
    font-size: 2.5rem;
}

#documento #documentoAutor {
    color: #666;
}

#documento #documentoData {
    color: #ccc;
}

#documento #documentoTipo {
    color: #999;
}

#documento #estrutura.tresColunas {
    font-size: 12px;
}

#documento .citacao {
    font-size: 14px;
    padding-left: 20px;
}

#documento .navegador {
    margin-bottom: 1em;
    text-align: center;
}

#documento .navegador a {
    background-color: #36c;
    border-radius: 0.5em;
    color: #fff;
    font-size: 0.8em;
    margin: 1em;
    padding: 0.2em 0.5em;
}

#documento .notas {
    border-top: 1px solid #999;
}

#documento .numero {
    font-weight: bold;
}

#documento .paragrafos {
    text-align: center;
}

#documento .paragrafos a {
    background-color: #36c;
    border-radius: 0.5em;
    color: #fff;
    font-size: 0.8em;
    padding: 0.2em 0.5em;
}

#documento #preview {
    background-color: #ddd;
}

#documento #preview tr,
#documento #preview th,
#documento #preview td {
    border: 1px solid #666;
}

#documento #referencia {
    background-color: #ddd;
}

#documento #referencia label {
    font-style: italic;
    font-weight: bold;
}

#documento .selecionado {
    background-color: #ccf;
}

#documento .texto {
    font-size: 16px;
}

#documento .titulo1 {
    font-size: 20px;
    font-weight: bold;
}

.tipodocumento-cartaapostolica {
    background-color: #a09600;
}

.tipodocumento-cartaenciclica {
    background-color: #985006;
}

.tipodocumento-constituicaoapostolica {
    background-color: #94070a;
}

.tipodocumento-constituicaoconciliar {
    background-color: #680059;
}

.tipodocumento-constituicaodogmatica {
    background-color: #0d1f63;
}

.tipodocumento-constituicaopastoral {
    background-color: #006d6f;
}

.tipodocumento-exortacaoapostolica {
    background-color: #407927;
}
