#canon .testamento {
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	width: 1.5em;
}

#canon .testamento div {
	transform: rotate(-90.0deg);
	width: 1.5em;
}

#canon .livro {
	width: 1px;
}

#canon .livroTrecho {
	text-wrap: nowrap;
	width: 1px;
}

#canon .separador {
	background-color: #000;
}

#canon .separador th {
	padding: 1px;
}

/* Canonicidade */

#canon .protocanonico {
	background-color: #cfc;
}

#canon .deuterocanonico {
	background-color: #ccf;
}

#canon .apocrifo {
	background-color: #fcc;
}

/* Sim / não */

#canon .nao {
	background-color: #fcc;
	text-align: center;
}

#canon .sim {
	background-color: #cfc;
	text-align: center;
}

/* Outros */

#canon .naoSeAplica {
	text-align: center;
}

#canon .ordem {
	background-color: #cfc;
	text-align: right;
}
