#reisDeIsraelJuda .ano {
    text-align: right;
}

#reisDeIsraelJuda .pericope {
    background-color: #0066b3;
    margin-left: .5em;
}

#reisDeIsraelJuda .pericopeSmRs {
    background-color: #00508f;
    float: right;
    margin-left: .5em;
}

#reisDeIsraelJuda .pericopeCr {
    background-color: #5e8ac7;
    float: right;
    margin-left: .5em;
}

#reisDeIsraelJuda .pericopeProfetas {
    background-color: #d99116;
    float: right;
    margin-left: .5em;
}

#reisDeIsraelJuda .reiReto {
    background-color: #393;
}

#reisDeIsraelJuda .reiMau {
    background-color: #c33;
}
