#reisDeIsraelJuda .ano {
    text-align: right;
}

#reisDeIsraelJuda .pericope {
    background-color: #06c;
}

#reisDeIsraelJuda .reiReto {
    background-color: #393;
}

#reisDeIsraelJuda .reiMau {
    background-color: #c33;
}
